
.topWrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  min-height: 100vh;
}

.wrapper{
  display: flex;
  width: 128px;
  flex-wrap: wrap;
  height: 256px;
}

.pixelItem{
  height:1px;
  width: 1px !important;
}